@using ViewModels.ViewModels

@model AnimalZooViewData


@{
    ViewData["Title"] = "Home Page";
}
<h4>Animals</h4>

@foreach (var animal in Model.animals)
{
    <li>@animal.Name</li>
}

<h4>Places</h4>

@foreach (var z in Model.Zoos)
{
    <li>@z.City</li>
}
