@model Student
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>
<p>My Name is @Model.Name</p><br />
<p>I live in @Model.City</p>
